.nav-link {
    color: white !important;
}

.btn1 {
    background-color: #50BF8F !important;
}

.btn2 {
    background-color: #50BF8F !important;
    border-color: #50BF8F !important;
}

.btn3 {
    color: #50BF8F !important;
}

.span {
    background-color: #50BF8F !important;
    border-color: #50BF8F !important;
    border-radius: 0 10px 0 0 !important;
}

.spanspan {
    background-color: #50BF8F !important;
    border-color: #50BF8F !important;
}

.spanspanspan {
    background-color: #50BF8F !important;
    border-color: #50BF8F !important;
    border-radius: 10px 0 0 0 !important;
}

.editor {
    border-radius: 0 0 10px 10px !important;
}

.form-control:focus {
    border-color: 0 !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0 !important;
    border-color: #50BF8F !important;
}

.container-fluid {
    margin: 0;
    height: auto
}

.post {
    margin-top: 20px;
    height: auto;
    width: auto;
    background-color: rgb(216, 216, 216);

}

body::-webkit-scrollbar-track {
    scrollbar-width: 1px;
    scrollbar-color: #50BF8F #F5F5F5;
}

.green-divider {
    border-top: 2px solid #50BF8F;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

div.overflow-container::-webkit-scrollbar {
    width: 5px;
    padding: 2px;
}

div.overfllow-container::-webkit-scrollbar-thumb {
    background-color: #d9ffef;
    border-radius: 10px;
}

div.overflow-container::-webkit-scrollbar-track {
    background-color: #50BF8F;
}

div.overflow-container::-webkit-scrollbar-thumb:hover {
    background-color: #2d805c;
}

.modal-body .row::after {
    content: "";
    display: block;
    width: 1px;
    background-color: #ccc;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.date {
    border-radius: 5px 5px 5px 5px !important;
}

.content {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}